/* ============================
   Thèmes de couleurs
   ============================ */

/* Thème sombre (par défaut) */
body[data-theme="sombre"] {
  --couleur-fond-principal: #101320;
  --couleur-fond-secondaire: #181c2e;
  --couleur-fond-panneau: #21263b;
  --couleur-bordure: #2f3654;

  --couleur-texte: #f4f4f8;
  --couleur-texte-secondaire: #9ba4c7;

  --couleur-primaire: #00adb5;
  --couleur-primaire-hover: #00cfd9;
  --couleur-secondaire: #ff6b6b;
}

/* Thème clair (sera activé plus tard en JS) */
body[data-theme="clair"] {
  --couleur-fond-principal: #f4f6fb;
  --couleur-fond-secondaire: #ffffff;
  --couleur-fond-panneau: #f0f3ff;
  --couleur-bordure: #c3c9e6;

  --couleur-texte: #22243a;
  --couleur-texte-secondaire: #5c628a;

  --couleur-primaire: #007bff;
  --couleur-primaire-hover: #005fd1;
  --couleur-secondaire: #e55353;
}
